@import "../base/_colors";
@import "../base/_variable";
@import "../base/_mixins";

main {
    background-image: linear-gradient(to top, #434343 0%, black 100%);
    .main-post {
        display: flex;
        justify-content: center;        
        flex-direction: column;
        padding-top: 10%;
        padding-bottom: 50px;
        color: $white;

        .label-post {
            font-weight: bold;
            text-transform: uppercase;
            &::before {
                display: inline-block;
                content: "";
                border-top: 2px solid #fff;
                width: 6rem;                
                transform: translateY(-4px);
                margin-right: 10px;
            }
        }

        img {
            width: 80%;
            margin: 10px auto;
        }
        h2 {
            font-size: 35px;
            font-weight: bold;
        }
        h3 {
            padding: 10px 0;
        }
        p {
            text-align: justify;
            margin-bottom: 20px;
            
        }
    }
}
