@import '../base/_colors';
@import '../base/_variable';

#inicio {
    position: relative;
    top: 80px;
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    background-image: url(../src/assets/img/bg-init2.jpg);
    
    .title {
      align-self: center;
      
      h2 {
        font-size: 50px;
        margin: 20px 0;
        color:$blue;
        letter-spacing: 2px;
        text-shadow: $text-shadow;
      }
      p {
       font-size: 18px;
       font-weight: bold;
       font-family: $paragraf-font;
       color: #000;
       width: 60%;
       text-shadow: $text-shadow;
       margin-bottom: 15px;
     }

     .btn-mio {       
       background: linear-gradient(
         90deg,
         rgba(255, 255, 255, 1) 0%,
         rgba(22, 122, 89, 1) 0%,
         rgba(12, 175, 173, 1) 100%
       );
       color:$white;
       padding: 8px;
       cursor: pointer;
       transition: $transition;
       &:hover{
           font-weight: 600;
           transform: scale(1.2);
       }
     }
    }
    .social {    
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      top: 40%;
      right: 14%;
      
      a {
       color: $white;
       width: 35px;
       margin: 10px 0;
       transition: 300ms;
       
       &:hover {
         color: #a2d2ff;
         transform: scale(1.3);
       }
     }
    }
  }
  
  